<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders Project</title>
</head>

<body>
    <% orders.forEach((order)=> { %>
        <h1>ID: <%= order.id %>
        </h1>
        <h2>Name: <%= order.name %>
        </h2>
        <p>Price: <%= order.price %> zł</p>
        <p>Quantity: <%= order.quantity %>
        </p>
        =======================================
        <% }) %>
</body>

</html>